<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Velocímetro Digital.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A78E1B741C9E59B500A04807</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A78E1B8C1C9E59B500A04807</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A78E1B971C9E59B500A04807</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
